.create{
    margin-left: 460px;
    
}
.create h1 {
    margin-left: 80px;
    color: rgb(18, 219, 35);
}

.divCreate{
    background-image:url("../../555.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 657px;
    background-attachment: fixed;
    background-position: center center;
    color: rgb(226, 194, 194);
}
/*//////////////////////////////////////////////////////////////////////*/
/*Forms*/
.formInput{
    font-size: 17px;
    border-radius: 12px;
    margin: 1px;
    width: 420px;
    padding: 3px;
}

.formInputDescription{
    font-size: 17px;
    border-radius: 15px;
    margin: 1px;
    margin-left: 2px;
    margin-bottom: -3px;
    width: 420px;
    padding: 3px;
}
.formInputReleased{
    font-size: 17px;
    border-radius: 12px;
    margin: 1px;
    width: 344px;
    padding: 3px;
}
/*//////////////////////////////////////////////////////////////////////*/
/*Button*/
.btnCreate{
    position: absolute;
    height: 30%;
    background-color: rgb(49, 45, 45);
    color: rgb(18, 219, 35);
    border-radius: 100px;
    cursor: pointer;
    font-size: 35px;
    width: 230px;
    margin: 20px;
    margin-left: 400px;
    top: 171px;
    left: -300px;
    overflow: auto;
    padding: 15px 10px;
    /*border-bottom: 1px solid red;
    text-align: center;*/
}
.btnCreateDisabled{
    position: absolute;
    height: 30%;
    border-radius: 100px;
    font-size: 35px;
    width: 230px;
    margin: 20px;
    margin-left: 400px;
    top: 380px;
    left: -300px;
    overflow: auto;
    padding: 15px 10px;
}
.btnCreate:hover{
    background-color: rgb(255 240 243);
}
/*//////////////////////////////////////////////////////////////////////*/
/*Genres*/
.select-genres{
    position: absolute;
    margin-left: 275px;
    top: 370px;
    
}
.genre{
    font-size: 16px;
    position: absolute;
    margin-left: 220px;
    top: 370px;
}

.delete{
    font-size: 14px;
    height: 26%;
    width: 154px;
    overflow: scroll;
   /* direction: rtl;*/
    position: absolute;
    margin-left: 272px;
    top: 393px;
  
}

.selectPlatform{
    position: absolute;
    top: 370px;
    left: 465px;
}

.deletePlatform{
    overflow: scroll;
    position: absolute;
    font-size: 14px;
    height: 770%;
    width: 133px;
    left: 76px;
}
/*//////////////////////////////////////////////////////////////////////*/
.end{
    color: red;
}
/*//////////////////////////////////////////////////////////////////////*/
/*Errors*/
.errorName{
    position: absolute;
    top: 170px;
    margin-left: 440px;
    font-size: 14px;
    color: red;
}

.errorDescription{
    position: absolute;
    top: 220px;
    margin-left: 440px;
    font-size: 14px;
    color: red;
}

.errorReleased{
    position: absolute;
    top: 295px;
    margin-left: 440px;
    font-size: 14px;
    color: red;
}

.errorRating{
    position: absolute;
    top: 325px;
    margin-left: 440px;
    font-size: 14px;
    color: red;
}

.errorGenres{
    position: absolute;
    font-size: 14px;
    color: red;
    margin-left: 440px;
    top: 374px;
    
}

.errorPlatforms{
    position: absolute;
    font-size: 14px;
    color: red;
    margin-left: -190px;
    top: 50px;
    font-size: 12px;
}


.labelPlat{
    margin-left: 6px;
}
.labelRel{
    margin-left: 6px;
}