.todo{
    display: flex;
    margin-left: 1030px;
    top: -50px;
    position: relative;
    
}
.btnSearch{
    cursor: pointer;
    border: none;
    font-size: 17px;
    border-radius: 15px;
    margin-bottom: 50px;
    position: relative;
    font-weight: bold;
    background: rgb(49, 45, 45);
    color: rgb(18, 219, 35);
    padding: 2px 10px;
}
.btnSearch:hover{
    background-color: rgb(255 240 243);
}

.searchInput{
    position: relative;
    font-weight: bold;
    background: rgb(0, 0, 0);
    font-size: 14px;
    width: 150px;
    color: rgb(131, 146, 134);
    padding: 2px 10px;
    border-radius: 15px;
    margin-bottom: 50px;
}