ul.paginate {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 26px;
}
.pagination-previous{
	cursor: pointer;
	background-color: rgb(49, 45, 45);
	color: rgb(18, 219, 35);
	font-family: monospace;
	font-weight: bold;
	border-radius: 10px;
	border: #ffcdb2 solid 1px;
	padding: 4px 5px;
	margin: 2px;
	text-decoration: none;
}
.pagination-previous:hover{
	background-color: #037E8C;
}
.pagination-next{
	cursor: pointer;
	background-color: rgb(49, 45, 45);
	color: rgb(18, 219, 35);
	font-family: monospace;
	font-weight: bold;
	border-radius: 10px;
	border: #ffcdb2 solid 1px;
	margin: 2px;
	padding: 4px 5px;
	text-decoration: none;
}
.pagination-next:hover{
	background-color: #037E8C;
}

ul.paginate li {
	display: inline;
}

.number button {
	color: rgb(18, 219, 35);
	cursor: pointer;
	padding: 3px 5px;
	
}

ul.paginate li button:hover{
	background-color: #037E8C;
}

.is-disabled{
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.no-current{
	background-color: rgb(49, 45, 45);
}
.is-current{
	background-color: rgb(255 240 243);
}
