.landingPage{
    background-image:url("./11111.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center center;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

.btnHome{
    background: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    margin-bottom: 150px;
    color: rgb(17, 224, 62);
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 30px;

}

.btnHome:hover{
    background-color: rgb(255 240 243);
}

.welcome{
    color: azure;
}